@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/proxima-nova/proximanova-reg-webfont.eot');
    src: url('../fonts/proxima-nova/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proxima-nova/proximanova-reg-webfont.woff') format('woff'),
    url('../fonts/proxima-nova/proximanova-reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/proxima-nova/proximanova-bold-webfont.eot');
    src: url('../fonts/proxima-nova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proxima-nova/proximanova-bold-webfont.woff') format('woff'),
    url('../fonts/proxima-nova/proximanova-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/proxima-nova/proximanova-semibold-webfont.eot');
    src: url('../fonts/proxima-nova/proximanova-semibold-webfont.eot?iefix') format('eot'),
    url('../fonts/proxima-nova/proximanova-semibold-webfont.woff') format('woff'),
    url('../fonts/proxima-nova/proximanova-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}