$font-family: proxima-nova, Arial, Helvetica, sans-serif;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 900;

$font-size-base: 14px;
$font-size-small: 12px;
$font-size-big: 16px;
$font-size-headline: 20px;
$font-size-total-price: 26px;

$color-text-default: #333;
$color-text-grey: #666;
$color-text-disabled: #999;
$color-text-red: #d90d0d;

$color-background-white: #fff;
$color-background-gray: #f9f9f9;
$color-background-active: #f3f3f3;
$color-background-error: #ffc7ce;
$color-background-warning: #feffd9;

$color-border-default: #f2f2f2;
$color-border-light: #cecece;
$color-border-dark: #999;
$color-border-very-dark: #666;

$color-active-state: #ff6422;

$color-logo: #4881a2;

// image sizes
$image-thumbnail: 100px;
$image-small: 160px;
$image-medium: 175px;
$image-big: 230px;
$image-summary-gallery: 540px;
$image-modal-gallery: 500px;


$border-radius: 4px;
$lightbox-background-opacity: 0.4;
$spinner-background-opacity: 0.8;
$disabled-opacity: 0.4;

$spinner-image: '../images/spinner.gif';